/* header layout */

header{
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
  background: black;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1vw;
  box-sizing: border-box;
  grid-template-areas:
    "logo nav";
}

header > .nav{
  grid-area: nav;
  justify-self: flex-end;
  align-self: center;
}

/* footer layout */

footer {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 4em auto auto;
  padding: 2vw;
  grid-template-areas:
      "logo icons"
      "nav nav"
      "logo-train logo-train"
      "copyright copyright";
}

footer > .logo, header > .logo{
  grid-area: logo;
  justify-self: flex-start;
  align-self: center;
}

footer > .logo img, header > .logo img{
  height: 36px;
}

footer > .icons{
  grid-area: icons;
  justify-self: flex-end;
  align-self: center;
}

.icon img{opacity:.8;width:1.5rem;}
.icon:hover img{opacity:1;}

footer > .nav {grid-area: nav;}
footer > .nav li {display: inline-flex;}
footer > .nav li a, header > .nav li a {color:white;}
footer > .nav li a:hover, header > .nav li a:hover{color:var(--brand-primary)}

footer > .logo-train{
  grid-area: logo-train;
}

footer > .logo-train img{
  width: 100%;
  max-width: 640px;
}

footer > .copyright{
  grid-area: copyright;
  color:white;
}

/* General Classes */

 p, a, li {
	 font-family: var(--font-primary);
	 text-decoration: none;
	 list-style-type: none;
}
 ul {
	 padding-left: 0;
}

/* 404 Page Layout */

.background, .gradient{
  height: 100vh;
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: 3fr 9fr;
}
.gradient{
  grid-template-columns: 3fr 3fr 6fr;
}
.bg-black{
  background:black;
}
.gradient--layer{
  background: rgb(0,0,0);
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);;
}
.background--image{
  background-image: url(https://media.amc.com/sundancetv_com/404/img/hal_and_leonard.jpg);
  background-size: cover;
  background-position: left center;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  z-index: 99;
  color: white;
  position: relative;
  width:50%;
}
.content .spacer{
  height:0rem;
}
button{
  background-color:#ed6300;
  padding:10px 15px;
  color:white;
  cursor:pointer;
  border:0px solid transparent;
}
button:hover{
  background-color:white;
  color:#ed6300;
}


@media screen and (max-width: 960px) {
  footer > .logo img, header > .logo img{
    height: 24px;
  }
  .background {
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .background--image{
    background-position:center center;
  }
  .background .spacer {
    display: none;
  }
  .gradient{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-auto-flow: row;
    height: 85vh;
  }
  .gradient .bg-black {
    order:1;
  }
  .gradient .spacer {
    order:-1;
  }
  .gradient--layer {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }
  .content{
    width:100%;
    justify-content: flex-end;
    height:85vh;
  }
  .content .spacer{
    height:3rem;
  }
}

/* typography */


	body{
	  font-family: var(--font-primary);
    margin: 0;
    background:#000;
	}

	h1, h2, h3, h4, h5, h6, .display-primary, .display-primary-6, .display-primary-5, .display-primary-4, .display-primary-3, .display-primary-2, .display-primary-1, .display-primary-0{
	  font-family: var(--font-primary);
	  font-weight: 300;
	  text-transform: lowercase;
	  letter-spacing: 0;
	  line-height: 1.08;
	}

	h1, .display-primary-6 {font-size: var(--fs10);}
	h2, .display-primary-5 {font-size: var(--fs09);}
	h3, .display-primary-4 {font-size: var(--fs07);}
	h4, .display-primary-3 {font-size: var(--fs05);}
	h5, .display-primary-2 {font-size: var(--fs04);}
	h6, .display-primary-1 {font-size: var(--fs02);}
	.display-primary-0 {font-size: var(--fs01);}

	.display-secondary, .display-secondary-6, .display-secondary-5, .display-secondary-4, .display-secondary-3, .display-secondary-2, .display-secondary-1, .display-secondary-0{
	  font-family: var(--font-secondary);
	  font-weight: 400;
	  text-transform: uppercase;
	  line-height: 1;
	}

	.display-secondary-6{font-size: var(--fs13);}
	.display-secondary-5{font-size: var(--fs10);}
	.display-secondary-4{font-size: var(--fs09);}
	.display-secondary-3{font-size: var(--fs07);}
	.display-secondary-2{font-size: var(--fs05);}
	.display-secondary-1{font-size: var(--fs04);}
	.display-secondary-0{font-size: var(--fs02);}

	.display-tertiary, .display-tertiary-1, .display-tertiary-2, .display-tertiary-3, .display-tertiary-4, .display-tertiary-5, .display-tertiary-6{
	  font-family: var(--font-primary);
	  font-weight: 400;
	  text-transform: capitalize;
	  line-height: 1.08;
	}

	.display-tertiary-6{font-size: var(--fs10);}
	.display-tertiary-5{font-size: var(--fs09);}
	.display-tertiary-4{font-size: var(--fs07);}
	.display-tertiary-3{font-size: var(--fs05);}
	.display-tertiary-2{font-size: var(--fs04);}
	.display-tertiary-1{font-size: var(--fs02);}
	.display-tertiary-0{font-size: var(--fs01);}

	.label, .label-lg, .label-md, .label-sm, .label-xs, .label-primary, .label-primary-lg, .label-primary-md, .label-primary-sm, .label-primary-xs, .label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
	  font-family: var(--font-primary);
	  font-weight: 400;
	  line-height: 1.5;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	}

	.label-primary, .label-primary-lg, .label-primary-md, .label-primary-sm, .label-primary-xs{
	  text-transform: uppercase;
	}

	.label-secondary, .label-secondary-lg, .label-secondary-md, .label-secondary-sm, .label-secondary-xs{
	  text-transform: capitalize;
	}

	.button, .button-lg, .button-md, .button-sm, .button-xs{
		font-family: var(--font-primary);
		text-transform: uppercase;
		font-weight:700;
		letter-spacing:1.5px;
	}

	.label-lg, .label-primary-lg, .label-secondary-lg, .button-lg {font-size: var(--fs04);}
	.label-md, .label-primary-md, .label-secondary-md, .button-md {font-size: var(--fs02);}
	.label-sm, .label-primary-sm, .label-secondary-sm, .button-sm {font-size: var(--fs01);}
	.label-xs, .label-primary-xs, .label-secondary-xs, .button-xs {font-size: var(--fs00);}

	body, p, .body, .body-xs, .body-sm, .body-md, .body-lg, .body-xl{
	  font-family: var(--font-primary);
	  font-weight: 400;
	  font-style: normal;
	  line-height: 1.43;
	  letter-spacing: normal;
	}

	.body-xl {font-size: var(--fs07);}
	.body-lg, .body-link-lg {font-size: var(--fs04);}
	.body-md, .body-link-md, p {font-size: var(--fs02);}
	.body-sm, .body-link-sm {font-size: var(--fs01);}
	.body-xs, .body-link-xs {font-size: var(--fs00);}

	.body-link, .body-link-xl, .body-link-lg, .body-link-md, .body-link-sm, .body-link-xs{
		color: var(--brand-primary);
	}

 :root {
	/* font sizing */
	 --fs15: 4.25rem;
	 --fs14: 4rem;
	 --fs13: 3.75rem;
	 --fs12: 3.5rem;
	 --fs11: 3.25rem;
	 --fs10: 3rem;
	 --fs09: 2.5rem;
	 --fs08: 2.25rem;
	 --fs07: 2rem;
	 --fs06: 1.75rem;
	 --fs05: 1.5rem;
	 --fs04: 1.25rem;
	 --fs03: 1.125rem;
	 --fs02: 1rem;
	 --fs01: 0.875rem;
	 --fs00: 0.75rem;
	/* margin-units */
	 --m: 1rem;
	 --m-small: 0.25rem;
	 --m-large: 2rem;
   /* branding */
   --brand-primary: #ed6300;
   --font-primary: benton-sans, Helvetica, sans-serif;
   --font-secondary: benton-sans-extra-compressed, oswald, Helvetica, sans-serif;
}

 h1, h2, h3, h4, h5, h6 {
	 margin: 1rem 0;
	 font-family: var(--font-primary);
}

 html {
	 font-size: calc(10 * 100vw / 320);
	 width: calc(0vw + 100%);
}
 @media screen and (min-width: 667px), screen and (min-aspect-ratio: 1.4444444444) {
	 html {
		 font-size: calc(12 * 100vw / 667);
	}
}
 @media screen and (min-width: 768px) {
	 html {
		 font-size: calc(16 * 100vw / 768);
	}
}
 @media screen and (min-width: 1025px) {
	 html {
		 font-size: calc(20 * 100vw / 1440);
	}
}
 @media screen and (min-width: 1440px) {
	 html {
		 font-size: calc(24 * 100vw / 1920);
	}
}
/* a series of atomic classes for applying margins in our frontend margin location m-a = margin all -- applies margin 1rem to all sides m-t = margin top -- applies margin top m-b = bottom -- applies margin bottom m-l = left -- applies margin left m-r = right -- applies margin right m-v = vertical -- applies margin to top and bottom m-h = horizontal -- applies margin to left and right */
 .m-a {
	 margin: var(--m);
}
 .m-t, .m-y {
	 margin-top: var(--m);
}
 .m-b, .m-y {
	 margin-bottom: var(--m);
}
 .m-l, .m-x {
	 margin-left: var(--m);
}
 .m-r, .m-x {
	 margin-right: var(--m);
}
/* margin sizing m-sm = used in conjunction with a location, specifies a margin of .25rem m-lg = used in conjunction with a location, specifies a margin of 2rem */
 .m-sm {
	 --m: var(--m-small);
}
 .m-lg {
	 --m: var(--m-large);
}
/* text modifiers */
 .tl {
	 text-align: left;
}
 .tc {
	 text-align: center;
}
 .tr {
	 text-align: right;
}
 .ttu {
	 text-transform: uppercase;
}
 .ttc {
	 text-transform: capitalize;
}
 .ttl {
	 text-transform: lowercase;
}
/* line-height calculator */
 @media screen and (max-width: 767px) {
	 .hidden-sm {
		 display: none !important;
	}
}
 @media screen and (min-width: 768px) {
	 .hidden-lg {
		 display: none !important;
	}
}
