/* Navigation Layout */

 p, a, li {
	 font-family: var(--font-primary);
	 text-decoration: none;
	 list-style-type: none;
}
 ul {
	 padding-left: 0;
}
 body {
	 margin: 0;
   background:#000;
}

/* header layout */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background:rgba(0,0,0,0.6);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1vw;
  box-sizing: border-box;
  grid-template-areas:
    "logo nav";
}

header > .nav{
  grid-area: nav;
  justify-self: flex-end;
  align-self: center;
}

/* footer layout */

footer {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 4em auto auto;
  padding: 2vw;
  grid-template-areas:
      "logo icons"
      "nav nav"
      "logo-train logo-train"
      "copyright copyright";
}

footer > .logo, header > .logo{
  grid-area: logo;
  justify-self: flex-start;
  align-self: center;
}

footer > .logo img, header > .logo img{
  height: 36px;
}

footer > .icons{
  grid-area: icons;
  justify-self: flex-end;
  align-self: center;
}

.icon img{opacity:.8}
.icon:hover img{opacity:1;}

footer > .nav {grid-area: nav;}
footer > .nav li {display: inline-flex;}
footer > .nav li a, header > .nav li a {color:white;}
footer > .nav li a:hover, header > .nav li a:hover{color:var(--brand-primary)}

footer > .logo-train{
  grid-area: logo-train;
}

footer > .logo-train img{
  width: 100%;
  max-width: 640px;
}

footer > .copyright{
  grid-area: copyright;
  color:white;
}

/* 404 Page Layout */

.background, .gradient{
  height: 100vh;
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: 3fr 9fr;
}
.gradient{
  grid-template-columns: 3fr 3fr 6fr;
}
.bg-black{
  background:black;
}
.gradient--layer{
  background: rgb(0,0,0);
  background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);;
}
.background--image{
  background-image: url(../img/hal_and_leonard.jpg);
  background-size: cover;
  background-position: left center;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  z-index: 99;
  color: white;
  position: relative;
  width:50%;
}
.content .spacer{
  height:0rem;
}
button{
  background-color:#ed6300;
  padding:10px 15px;
  color:white;
  cursor:pointer;
  border:0px solid transparent;
}
button:hover{
  background-color:white;
  color:#ed6300;
}


@media screen and (max-width: 960px) {
  footer > .logo img, header > .logo img{
    height: 24px;
  }
  .background {
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .background--image{
    background-position:center center;
  }
  .background .spacer {
    display: none;
  }
  .gradient{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 1fr;
    grid-auto-flow: row;
    height: 85vh;
  }
  .gradient .bg-black {
    order:1;
  }
  .gradient .spacer {
    order:-1;
  }
  .gradient--layer {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  }
  .content{
    width:100%;
    justify-content: flex-end;
    height:85vh;
  }
  .content .spacer{
    height:3rem;
  }
}

/* typography */

.sundance{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100vh;
}

 .sundance .headline-1 {
	 font-size: var(--fs10);
   font-family: benton-sans, Helvetica, sans-serif;
   font-weight: 300;
   text-transform: lowercase;
   line-height: 1.08;
}

 .sundance .label-lg {
	 font-family: benton-sans, Helvetica, sans-serif;
	 font-weight: 400;
	 line-height: 1.5;
	 text-transform: uppercase;
	 letter-spacing: 1px;
}

.sundance .button-md, .sundance .button-sm{
	 font-family: benton-sans, Helvetica, sans-serif;
	 text-transform: uppercase;
	 font-weight: 700;
	 letter-spacing: 1.5px;
}

.sundance .button-md, .sundance .body-md {
	 font-size: var(--fs02);
}

 .sundance .body, .sundance .body-xs, .sundance .body-sm, .sundance .body-md, .sundance .body-lg, .sundance .body-xl {
	 font-family: benton-sans, Helvetica, sans-serif;
	 font-weight: 400;
	 font-style: normal;
	 line-height: 1.43;
	 letter-spacing: normal;
}
 .sundance .body-lg, .sundance .label-lg {
	 font-size: var(--fs04);
}

 :root {
	/* font sizing */
	 --fs15: 4.25rem;
	 --fs14: 4rem;
	 --fs13: 3.75rem;
	 --fs12: 3.5rem;
	 --fs11: 3.25rem;
	 --fs10: 3rem;
	 --fs09: 2.5rem;
	 --fs08: 2.25rem;
	 --fs07: 2rem;
	 --fs06: 1.75rem;
	 --fs05: 1.5rem;
	 --fs04: 1.25rem;
	 --fs03: 1.125rem;
	 --fs02: 1rem;
	 --fs01: 0.875rem;
	 --fs00: 0.75rem;
	/* margin-units */
	 --m: 1rem;
	 --m-small: 0.25rem;
	 --m-large: 2rem;
   /* colors */
   --brand-primary: #ed6300;
}

 h1, h2, h3, h4, h5, h6 {
	 margin: 1rem 0;
	 font-family: var(--font-primary);
}

 html {
	 font-size: calc(10 * 100vw / 320);
	 width: calc(0vw + 100%);
}
 @media screen and (min-width: 667px), screen and (min-aspect-ratio: 1.4444444444) {
	 html {
		 font-size: calc(12 * 100vw / 667);
	}
}
 @media screen and (min-width: 768px) {
	 html {
		 font-size: calc(16 * 100vw / 768);
	}
}
 @media screen and (min-width: 1025px) {
	 html {
		 font-size: calc(20 * 100vw / 1440);
	}
}
 @media screen and (min-width: 1440px) {
	 html {
		 font-size: calc(24 * 100vw / 1920);
	}
}
/* a series of atomic classes for applying margins in our frontend margin location m-a = margin all -- applies margin 1rem to all sides m-t = margin top -- applies margin top m-b = bottom -- applies margin bottom m-l = left -- applies margin left m-r = right -- applies margin right m-v = vertical -- applies margin to top and bottom m-h = horizontal -- applies margin to left and right */
 .m-a {
	 margin: var(--m);
}
 .m-t, .m-v {
	 margin-top: var(--m);
}
 .m-b, .m-v {
	 margin-bottom: var(--m);
}
 .m-l, .m-h {
	 margin-left: var(--m);
}
 .m-r, .m-h {
	 margin-right: var(--m);
}
/* margin sizing m-sm = used in conjunction with a location, specifies a margin of .25rem m-lg = used in conjunction with a location, specifies a margin of 2rem */
 .m-sm {
	 --m: var(--m-small);
}
 .m-lg {
	 --m: var(--m-large);
}
/* text modifiers */
 .tl {
	 text-align: left;
}
 .tc {
	 text-align: center;
}
 .tr {
	 text-align: right;
}
 .ttu {
	 text-transform: uppercase;
}
 .ttc {
	 text-transform: capitalize;
}
 .ttl {
	 text-transform: lowercase;
}
/* line-height calculator */
 @media screen and (max-width: 767px) {
	 .hidden-sm {
		 display: none !important;
	}
}
 @media screen and (min-width: 768px) {
	 .hidden-lg {
		 display: none !important;
	}
}
